*{
    font-family:sans-serif, Arial,Helvetica ;
    margin: 0;
    padding: 0;
    transition: 200ms;
}
body{
    overflow-x: hidden;
    font-size: 16px;
    color:#333;
}
.main{
    width: 1000px;
    margin: auto;
}

main{
    margin-top: 50px;
    z-index: 50;
}

.column{
    width: 480px;
    display: inline-block;
}

.col-right, .col-left{
    display: inline-block;
    width: 480px;
}

.col-text{
    vertical-align:text-bottom;
    position: relative;
    bottom: 140px;
}


.col-right img, .col-left img{
    width: 480px;
    display: inline-block;
}

.row, .firstRow{
    overflow: hidden;
    padding: 10px;
}

.banner{
    width: 100vw;
    height: 300px;
    background-color:#333;
    position: absolute;
    left: 0;
}

.banner-content{
    width: 1000px;
    margin: auto;
    height: 200px;
    margin-top: 100px;
    padding: 10px;
    box-sizing: border-box;
    color: white;
}
.banner-content p,.banner-content h1{
    height: 200px;
    width: 400px;
    display: inline-block;
}
.banner-content p{
    font-size:larger
}

footer{
    height: 200px;
    background-color: #333;
    text-align: center;
    padding: 5px 0;
    color: white;
    margin-top: 100px;
}
footer a{
    color: white;
}
.footer-logo{
    position: relative;
    top: 30px;
    height: 60px;
}

.bottom{
    position: relative;
    top: 80px;
}

#kaufen {
    background-color: #2a6bd2;
    color: white;
    width: 1000px;
    height: 300px;
    border-radius: 100px;
    text-align: center;
    padding-top: 50px;
    margin-top: 60px;

}

#ueberschrift {
    font-size: xx-large;
}

#knoepfe a {
    padding: 30px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    font-size: large;
    border: 2px white solid;
}

#knoepfe {
    margin-top: 100px;
}

#testen-knopf {
    background-color: white;
    color: #2a6bd2;
    margin-right: 50px;
}

#kaufen-knopf {
    background-color: #2a6bd2;
    color: white;
}

#kaufen-knopf:hover,
#testen-knopf:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}
